extends layout

block content
  h1= title
<<<<<<< HEAD
  p staging environment - Welcome to my world - #{title}
=======
  p DEV - PROD - Welcome to my world - #{title}
>>>>>>> 5c85d27016d9f128d5d768588300a6783a3bdbc9
  p tasty treat #{message}
